<!DOCTYPE html>
<html>
    <head>
        <title>j2c2</title>
    </head>
    <body>
        <center>
            <h1 font-weight="bold">Luxury Cars</h1>

            <table>
                <tr>
                    <td>
                        <img src="j2c2.jpg">
                        <br>
                        <br>
                    </td>
                </tr>
            
            
                <tr>
                    <td>
                        <button name="btnPorsche" value="Porsche-911">Porsche-911</button>
                        <button name="btnMercedes" value="Mercedes-G">Mercedes-G</button>
                        <button name="btnLamborghini" value="Lamborghini">Lamborghini</button>
                        <button name="btnMaserati" value="Maserati">Maserati</button>
                    </td>
                </tr>
            
            </table>
        </center>
    </body>
</html>